html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.page {
    color: var(--primery-text-color);
    background-color: var(--page-color);
    font-family: 'Roboto', sans-serif;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.img-project {
    display: block;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.section__list {
    display: flex;
}

.section__title {
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}